.active:hover {
  cursor: default;
}

.current-condition {
  color: rgb(120, 120, 120);
  font-size: 16px;
  text-transform: capitalize;
}

.current-warning {
  color: rgb(96, 96, 96);
  display: block;
  font-size: 18px;
  font-weight: 600;
  margin: 15px;
}

.daytime {
  color: rgb(114, 110, 110);
  font-size: 18px;
  font-weight: 500;
  padding: 3px;
  margin-left: 5px;
}

.fahrenheit {
  font-size: 10px;
  vertical-align: text-top;
}

.five-day-grid {
  display: grid;
  align-content: center;
  justify-content: center;
}

.footer-text {
  font-size: 16px;
  font-weight: 400;
}

.forecast-background {
  background: linear-gradient(
    180.3deg,
    rgb(171, 192, 241) 5.5%,
    rgb(14, 33, 143) 90.2%
  );
  border: 1px solid rgb(14, 33, 143);
  border-radius: 6px;
}

.forecast-header {
  color: rgb(240, 240, 240);
  font-size: 30px;
  margin: 15px;
}

.forecast-icons {
  font-size: 85px;
  justify-content: center;
}

.forecast-temps {
  color: rgb(72, 72, 72);
  display: inline;
  font-size: 22px;
  font-weight: 700;
  text-align: center;
}

.grid-item {
  align-items: center;
  display: inline-grid;
  justify-content: center;
}

.grid-padding {
  padding: 5px;
  margin: 10px;
}

.temp-units {
  color: rgb(114, 110, 110);
  display: inline;
  vertical-align: text-top;
  line-height: 45px;
  font-weight: 400;
}

.temp-units .active {
  font-weight: bolder;
}

.temp-units .active {
  color: #007bff;
}

.today-icons {
  font-size: 45px;
  text-align: center;
}

.today-temps {
  font-size: 18px;
  font-weight: 400;
  text-align: center;
}

.today-time-grid {
  text-align: center;
}

.weekDate {
  align-content: center;
  font-weight: 600;
}

.weekDay {
  align-content: center;
  font-weight: 300;
}

::placeholder {
  color: rgb(165, 164, 167);
}

#current-icon {
  animation: weatherIconAnimation 4s ease-out 0s infinite normal none;
}

#current-temp {
  display: inline-block;
  font-size: 65px;
  line-height: 80px;
  margin: 0;
  vertical-align: text-top;
}

#current-time {
  font-size: 16px;
  font-weight: light;
}

#city-search {
  background-color: rgb(255, 255, 255);
  color: rgb(116, 115, 117);
  font-size: 18px;
  display: inline-block;
  border: 1px solid rgb(114, 110, 110);
  border-radius: 6px;
  color: rgb(79, 79, 80);
  margin: 10px 15px;
  padding: 15px;
}

#search-btn {
  background-color: rgb(114, 110, 110);
  border: 1px solid rgb(114, 110, 110);
  border-radius: 6px;
  color: rgb(255, 255, 255);
  display: inline-block;
  font-size: 18px;
  margin: 10px 15px;
  padding: 15px;
}

#search-btn:hover {
  background-color: #007bff;
  color: rgb(255, 255, 255);
  cursor: pointer;
  box-shadow: 0 0.125rem 0.625rem rgb(63 106 216 / 40%),
    0 0.0625rem 0.125rem rgb(63 106 216 / 50%);
}

@keyframes weatherIconAnimation {
  0%,
  100% {
    transform: translateX(0%);
    transform-origin: 50% 50%;
  }

  15% {
    transform: translateX(-30px) rotate(-6deg);
  }

  30% {
    transform: translateX(15px) rotate(6deg);
  }

  45% {
    transform: translateX(-15px) rotate(-3.6deg);
  }

  60% {
    transform: translateX(9px) rotate(2.4deg);
  }

  75% {
    transform: translateX(-6px) rotate(-1.2deg);
  }
}
